# - name: app setup
#   ansible.builtin.import_role:
#     name: common
#     tasks_from: app-setup.yaml
# # changed this as part of latest python3-devel from repos have upgraded openssl-libs but other openssl packages are old in AMI, so mismatch occured. we are upgrading before installing python or after
# - name: upgrade openssl packages
#   ansible.builtin.dnf:
#     name: "{{ item }}"
#     state: latest
#   loop:
#     - openssl
#     - openssl-libs
#     - openssh
#     - openssh-server
#     - openssh-clients

---

# 1. Common app setup
- name: app setup
  ansible.builtin.import_role:
    name: common
    tasks_from: app-setup.yaml

# 2. SAFE OpenSSL upgrade (only RHEL repo versions)
#    This prevents the mismatch error.
- name: Upgrade OpenSSL & OpenSSH packages safely
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: latest
  loop:
    - openssl
    - openssl-libs
    - openssh
    - openssh-server
    - openssh-clients

# 3. Install system Python + build tools
- name: Install system Python and dev tools
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
  loop:
    - python3
    - python3-pip
    - gcc
    - python3-devel

# 4. Install Python dependencies from requirements.txt
- name: Install Python dependencies (requirements.txt)
  ansible.builtin.pip:
    requirements: requirements.txt
    executable: pip3.9
  args:
    chdir: /app



# - name: app setup
#   ansible.builtin.import_role:
#     name: common
#     tasks_from: python-setup.yaml

- name: system setup
  ansible.builtin.import_role:
    name: common
    tasks_from: system-setup.yaml
# # changed this as part of latest python3-devel from repos have upgraded openssl-libs but other openssl packages are old in AMI, so mismatch occured. we are upgrading before installing python or after
# - name: upgrade openssl packages
#   ansible.builtin.dnf:
#     name: "{{item}}"
#     state: latest
#   loop:
#     - openssl
#     - openssl-libs
#     - openssh
#     - openssh-server
#     - openssh-clients

###-Still the issue is present------
# #issue with above code
# - name: upgrade openssh packages
#   ansible.builtin.dnf:
#     name: "{{item}}"
#     state: present
#   loop:
#     # - openssl
#     # - openssl-libs
#     - openssh
#     - openssh-server
#     - openssh-clients
